cms/log
cms/tmp
cms/public/uploads
cms/vendor/bundle

cms/config/database.yml
cms/config/secrets.yml
cms/config/initializers/secret_token.rb
cms/config/initializers/mailer.rb

cms/memcached.sh
cms/start.sh




client/log
client/tmp
client/public/uploads
client/vendor/bunlde

client/config/database.yml
client/config/secrets.yml
client/config/initializers/mailer.rb
client/config/initializers/secret_token.rb

