.line{ :class => cycle('even', 'odd') }
  
  - if @content && branch.contents.include?(@content) || (@branch && @branch == branch)
    %i.fa.fa-check.pull-right
  
  - if @content_type && branch.content_types.include?(@content_type)
    = link_to project_content_type_contents_path( @project, @content_type, params.merge(:branch => branch) ) do
      - if branch.branch_routes.empty?
        %i.fa.fa-fw.fa-exclamation-triangle
      branch.route(@locale).try(:name)
  - elsif @content_type.nil?
    = link_to project_contents_path( @project, params.merge(:branch => branch) ) do
      - if branch.branch_routes.empty?
        %i.fa.fa-fw.fa-exclamation-triangle
      = branch.route(@locale).try(:name) || 'keine route'
  - else
    = branch.route(@locale).try(:name)
