.line{ :class => cycle('even', 'odd') }
  - if @content && branch.contents.include?(@content) || (@branch && @branch == branch)
    %i.fa.fa-check.pull-right
  
  - if @content_type && branch.content_types.include?(@content_type)
    = link_to branch.route(@locale).name, project_content_type_contents_path( @project, @content_type, params.merge(:branch => branch) )
  - elsif @content_type.nil?
    = link_to branch.route(@locale).name, project_contents_path( @project, params.merge(:branch => branch) )
  - else
    = branch.route(@locale).name
