.container
  .row
    .span3
      = render 'projects/menu'  


    .span9
      %h1 Menüpunkt bearbeiten
      
      %ul.breadcrumb
        - @branch.path.each do |branch|
          %li
            = branch.route(@locale).name
            %span.divider
              %i.fa.fa-angle-right

      
      = render 'form'
      
