.container
  .row
    .span3
      = render 'projects/menu'  
    
    .span9

      %h1
        Baumstruktur
      
      #tree
        %ul.nested_branches
          = nested_branches @branches.arrange(:order => :position) 
        

      %br
      
      = link_to new_project_branch_path(@project), :class => 'btn btn-mini btn-primary' do
        %i.icon-plus
        Menüpunkt anlegen
      
      