.navbar.navbar-default.navbar-fixed-top.visible-xs{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to '/', :class=> "navbar-brand" do
        = @project.name
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        = menu @project.branches, true, true
