%h2
  Optionen

%strong
  Feld-Typ

%table.table.table-condensed.table-bordered
  %tr
    %td
      %strong
        Auswahl : Ziel-Inhaltstyp (matches intern)
      %br
      Erstellt eine Auswahlliste mit Inhalten deren intern Feld dem intern-feld dieses Feldes entspricht.



%br

%strong
  Text Mehrzeilig

%table.table.table-condensed.table-bordered
  %tr
    %th Option
    %th Typ
    %th Default
  %tr
    %th rows
    %td Integer
    %td.muted 2

  %tr
    %th wysiwyg
    %td Boolean
    %td.muted false

  %tr
    %th markdown
    %td Boolean
    %td.muted false

  %tr
    %th autosize
    %td Boolean
    %td.muted false

  %tr
    %th html
    %td Boolean
    %td.muted false

  %tr
    %th haml
    %td Boolean
    %td.muted false



%br

%strong
  Ziel : Inhaltstyp

%table.table.table-condensed.table-bordered
  %tr
    %th constrains
    %td Boolean
    %td.muted false
