.container
  .row
    .span3
      = render 'menu'  

    .span6
      %h1
        Datenfeld
        %small
          %i.icon-angle-right
          = @content_type.name
        
      = render 'form'

    .span3
      = render 'meta_hints'  