.container
  .row
    .span3
      = render 'menu'    

    .span9
      %h1 Konstanten 

      
      %table.table.table-condensed.table-striped.table-bordered.table-hover
        %tr
          %th Category
          %th Name
          %th Value
          %th Type
          %th{ :width => 50 }
      
        - @constants.each do |constant|
          = render constant                  
  
