- if flash[:error] ||  flash[:notice] ||  flash[:success]
  %alerts
    .container
      .row
        .span12
          - if flash[:error]
            .alert.alert-error
              %button.close{"data-dismiss" => "alert", type: "button"} ×
              %strong Fehler
              = flash[:error]

          - if flash[:notice]
            .alert.alert-info
              %button.close{"data-dismiss" => "alert", type: "button"} ×
              %strong Achtung
              = flash[:notice]

          - if flash[:success]
            .alert.alert-success
              %button.close{"data-dismiss" => "alert", type: "button"} ×
              %strong Hinweis
              = flash[:success]