<div id="bootstrapped-fine-uploader"></div>
<% content_for :scripts do %>
  <%= javascript_tag do %>
    var fileCount = 0;
    var addedFiles = 0;

    function createUploader() 
    {
      var uploader = new qq.FineUploader({
        element: document.getElementById('bootstrapped-fine-uploader'),
        request: {
          <% if @content %>
          endpoint: '<%= create_upload_path(@project, @content.class.name, @content.id) %>'
          <% else %>
          endpoint: '<%= create_upload_path(@project, '-', 0) %>'
          <% end %>
        },
        text: {
          uploadButton: '<div><i class="icon-hdd icon-white"></i> &nbsp; Datei(en) hochladen</div>'
        },
        template: '<div class="qq-uploader">' +
                    '<pre class="qq-upload-drop-area  btn btn-large input-block-level"><span>{dragZoneText}</span></pre>' +
                    '<div class="qq-upload-button  btn btn-large btn-success input-block-level" style="width: auto;">{uploadButtonText}</div>' +
                    '<span class="qq-drop-processing  btn btn-large input-block-level"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
                    '<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
                  '</div>',
        classes: {
          success: 'alert alert-success',
          fail: 'alert alert-error'
        },
        callbacks: {
          onUpload: function() { 
              NProgress.start(); 
              $('#contendocuments').attr('style', 'opacity:.15');
          },
          onUploadChunk: function() { NProgress.inc(); },
          onSubmit: function(id, fileName) {
            fileCount ++;
            return true;
          },
          onComplete: function(id, fileName, responseJSON) {
            if (responseJSON.success) {
              $('#thumbnail-fine-uploader').append('<img src="img/success.jpg" alt="' + fileName + '">');
            }
            
            addedFiles ++;
            
            console.log(addedFiles / fileCount);
            NProgress.set( addedFiles / fileCount );
            if( fileCount == addedFiles)
            {
              NProgress.done();
              <% if @content %>
                $('#documents').load('<%= uploaded_path(@project, @content.class.name, @content.id) %>');
              <% end %>
              NProgress.remove();
            }
          }
        }
      });
    }

    $(document).on('ready page:load', function() {
      
      createUploader();
    
    });
  <% end %>
<% end %>