%tr{ :id => "relative_#{relative.id}", :width => '100%' }
  %td.handledisabled
  %td
    = relative.rep(@locale)
  %td.muted
    = relative.ref_id
  %td
    .btn-group.pull-right
      = link_to edit_project_content_type_content_path(@project, relative.content_type, relative, :locale => @locale, :crt => @content_relation_type  .intern), :remote => true, :class => 'btn btn-mini btn-success' do
        %i.fa.fa-edit
        Bearbeiten
