#documents
  %fieldset
    %legend
      %i.fa.fa-picture-o
      &nbsp;
      Dokumente
    %options
      .row
        .span2
          = link_to search_project_documents_path(@project, :parent_id => @parent.id, :parent_type => @parent.class.name), :remote => true, :class => 'btn input-block-level btn-large' do
            %i.fa.fa-search
            &nbsp;
            Suchen

        .span4
          = render 'documents/button'
      %hr

      #useddocuments
        = render :partial => 'documents/useddocuments', :locals => { :documents => @parent.documents }




  #docpoover{ :style => 'display: none;' }
    - unless @parent.documents.empty?
      - @parent.documents.each do |document|
        = render :partial => 'documents/document_popover', :locals => { :document => document }
