= simple_form_for(@project, html: {class: 'form-horizontal' }) do |f|

  = f.input :css, input_html: {  :class => "input-block-level autosize aceditor", :mode => 'css' }
  %pre#aceditor


  .form-actions
    = f.submit 'Speichern', :class => 'btn btn-primary', :data => { :disable_with => 'Übertrage Daten ...' }

  %hr

  .text-muted
    Mit der Tastenkobination
    %strong
      %span.btn.btn-mini.btn-xs{ :disabled => true }
        - if get_operating_system == 'Mac'
          cmd ⌘
        - else
          strg
      +
      %span.btn.btn-mini.btn-xs{ :disabled => true }
        s
    kann das Template auch on the fly gespeichert werden.
