%h2
  Optionen

%table.table.table-condensed.table-bordered
  %tr
    %th Option
    %th Typ
    %th Default
  %tr
    %th ref
    %td Boolean
    %td.muted false

  %tr
    %th alpha
    %td Boolean
    %td.muted false

  %tr
    %th omega
    %td Boolean
    %td.muted false

  %tr
    %th dates
    %td Boolean
    %td.muted false


%h2
  Meta

%table.table.table-condensed.table-bordered
  %tr
    %th{ :colspan => 2 }
      Editor
      %strong 2
  %tr
    %th
      content_relation_type
    %td.muted
      match intern für binder-relation
