.container
  .row
    .span3
      = render 'menu'  


    .span9
      %h1 Inhalts Typ bearbeiten

          
        
      .box.alternate
        .box-title
          = "„#{@content_type.name}” bearbeiten"
        .box-content.nopadding      
          = render 'form'
      
