.container
  .row
    .span3
      = render 'menu'  


    .span6
      %h1 
        Neuer Inhaltstyp

          
        
      .box.alternate
        .box-title
          Inhaltstyp erstellen
        .box-content.nopadding      
          = render 'form'
      


    .span3
      = render 'meta_hints'  
      
