/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require morris
 *= require_tree .
 */


 /* require jquery.ui.all */









.qq-upload-list
{
  text-align: left;
}

/* For the bootstrapped demos */
li.alert-success {
  background-color: #DFF0D8;
}

li.alert-error {
  background-color: #F2DEDE;
}

.alert-error .qq-upload-failed-text {
  display: inline;
}




header #search
{
  width: 55px;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

header #search:focus
{
  width: 175px;
}
