// Place all the styles related to the Branches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tree ul,
#tree ol
{
  list-style: none;
  clear: both;
  
  padding: 0;
  margin: 0;
  
}

#tree ul li,
#tree ol li
{
  padding: 0;
  margin: 0;
  clear: both;
  list-style: none;
  position: relative;
  border-left: 1px dotted #999;
  background: rgba(0, 0, 0, .01);
  margin: 1px 0 0 0;
  padding-left: 15px;
}

#tree ul li:hover,
#tree ol li:hover
{
  background: rgba(50, 100, 0, .05);
}

#tree .btn-group
{
  opacity: .1;
}

#tree ul .btn-group:hover ,
#tree ol .btn-group:hover 
{
  opacity: 1;
}

#tree ul li.disabled,
#tree ol li.disabled
{
  color: #999;
}

#tree ul li input,
#tree ol li input
{
  margin: -2px 5px 0 0;
}

#tree li .handle
{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 10px;
  display: block;
  background: rgba(200, 200, 200, .2);
}


td.handle
{
  width: 10px;
  padding: 0px;
  background: rgba(200, 200, 200, .2);
}

td.handledisabled
{
  width: 10px;
  padding: 0px;
  background: rgba(200, 200, 200, .2);
}

.ui-sortable .handle
{
  background: rgba(0, 0, 255, .1) !important;
}


#sitemap ul,
#sitemap ol
{
  list-style: none;
  clear: both;
  
  padding: 0;
  margin: 0;
  
}

#sitemap ul ul,
#sitemap ol ol
{
  padding-left: 10px;
  margin: 0 0 0 5px;
  border-left: 1px dotted #000;
}

#sitemap ul li,
#sitemap ol li
{
  padding: 1px 0 1px 5px;
  margin: 0;
  clear: both;
  list-style: none;
  position: relative;
  margin: 1px 0 0 0;
}

#tree ul li.disabled,
#sitemap ul li.disabled,
#tree ol li.disabled,
#sitemap ol li.disabled

{
  color: #999;
}

#tree ul li.enabled,
#sitemap ul li.enabled,
#tree ol li.enabled,
#sitemap ol li.enabled

{
  color: #000;
}





ul.contents .line.even,
ol.contents .line.even
{
  background: rgba(255, 255, 255, .5);
}

ul.contents .line.odd,
ol.contents .line.odd
{
  background: rgba(255, 255, 255, .25);
}

ul.contents .line .pull-right,
ol.contents .line .pull-right
{
  margin: 4px 4px 0 0;
}

.placeholder,
.placeholder *
{
  background: #eec !important;
}


.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ul li.placeholder,
ol li.placeholder 
{
  background: #f0f0f0 !important;
  border: 1px dotted #ccc !important;
  display: block !important;
  height: 21px !important;
}
